@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-dark: #14080e;
  --color-light: #ffffff;
  --color-primary: #f78764;
  --color-secondary: #c6d8d3;
}

/* base styles */
body {
  font-size: 18px;
  line-height: 1.8;
  font-family: 'Noto Serif TC', serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* utilities */
.btn {
  background: red;
  color: white;
}
